.vs/KeyboardTest/v15/.suo
.vs/KeyboardTest/v15/Server/sqlite3/db.lock
.vs/KeyboardTest/v15/Server/sqlite3/storage.ide
.vs/KeyboardTest/v15/Server/sqlite3/storage.ide-shm
.vs/KeyboardTest/v15/Server/sqlite3/storage.ide-wal
KeyboardTest/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KeyboardTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KeyboardTest/obj/Debug/KeyboardTest.csproj.CopyComplete
KeyboardTest/obj/Debug/KeyboardTest.csproj.CoreCompileInputs.cache
KeyboardTest/obj/Debug/KeyboardTest.csproj.FileListAbsolute.txt
KeyboardTest/obj/Debug/KeyboardTest.csproj.GenerateResource.cache
KeyboardTest/obj/Debug/KeyboardTest.csprojAssemblyReference.cache
KeyboardTest/obj/Debug/KeyboardTest.exe
KeyboardTest/obj/Debug/KeyboardTest.Form1.resources
KeyboardTest/obj/Debug/KeyboardTest.pdb
KeyboardTest/obj/Debug/KeyboardTest.Properties.Resources.resources
KeyboardTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KeyboardTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KeyboardTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
